<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PrintReceipt.Properties.Settings.PrintItemsConnectionString"
            connectionString="Data Source=STIVE;Initial Catalog=PrintItems;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>